<!-- Vue의 동적 CSS 바인딩 

1. 인라인 스타일링
v-bind: style="" 구문을 사용한다.

2. 사용에 대하여...
* 만약 하나의 html 태그에 class=""와 v-bind:class=""가 모두 할당된 경우,Vue는 클래스를 병합한다.

* v-bind:class="{}" 에서 하나 이상의 클래스를 포함하는 객체는 객체 내부에서 하나 이상의 클래스가 켜지거나 꺼질 수 있다.
    v-bind:class="{yelClass: true}"

* v-bind:style에서 CSS 속성을 정의할 때 camelCase가 선호되지만 'kebab-case'는 따옴표 안에 있을 때 사용 가능하다.
    v-bind:style="{ backgroundColor: 'lightpink', 'font-weight': 'bolder' }"

* CSS 클래스는 배열 / 배열 표기법 / 구문으로 할당할 수 있다.
    v-bind:class="[{ impClass: isImportant }, 'yelClass' ]"
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      #app > div {
        width: 150px;
        height: 150px;
        border-style: dotted;
      }
      div > img {
        box-sizing: border-box;
        width: 50%;
        padding: 3px;
        border: solid white 4px;
        border-radius: 5px;
      }
      .selClass {
        border: solid brown 4px;
        background-color: lightpink;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-bind:style="{backgroundColor: 'rgba(155,20, 20)'}">
        기본 스타일
      </div>
      <hr />

      <input type="range" v-model="opacityVal" min="0" max="1" step="0.1" />
      <div v-bind:style="{backgroundColor: 'rgba(99,0,89,'+ opacityVal +')'}">
        range bar로 opactiy 조절해보자
      </div>
      <hr />

      <div v-for="(img,index) in images">
        클래스를 할당해보자
        <img
          v-bind:src="img.url"
          alt=""
          v-on:click="select(index)"
          v-bind:class="{selClass:img.sel}"
        />
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            opacityVal: 0.8,
            images: [
              { url: "../imgs/img_burrito.svg", sel: false },
              { url: "../imgs/img_salad.svg", sel: false },
              { url: "../imgs/img_cake.svg", sel: false },
              { url: "../imgs/img_soup.svg", sel: false },
              { url: "../imgs/img_fish.svg", sel: false },
              { url: "../imgs/img_pizza.svg", sel: false },
              { url: "../imgs/img_rice.svg", sel: false },
            ],
          };
        },
        methods: {
          select(number) {
            this.images[number].sel = !this.images[number].sel;
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
